//link(rel="stylesheet", href="/public/css/home_meeting.css")
doctype html
html
  head
    title Dashboard
    link(rel="stylesheet", href="/public/css/home_meeting.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    
  body
    header
      div
        i.fas.fa-home
      div
        i.fas.fa-window-minimize
        i.fas.fa-window-maximize
        i.fas.fa-times
    main
      .content
        .video-grid-wrapper
          .video-grid
        .tools
          button.button#add-video-container 일정 관리
          button.button#share_note  공유 메모장
          button.button#see_video_log  발표자 내용 기록 및 번역
          
        div#chat
            header
                #chat_title Chat 
                button#chat_exit X
            main#chatArea                
            footer 
                div#send_message
                    textarea(placeholder="message", required, type="text")
                    button(type="submit") send
        
    footer
      .control_icons
        button.control_icon#mute
          i#muteImg.fas.fa-microphone-slash
          | voice
        button.control_icon#video
          i#videoImg.fas.fa-video-slash
          | video
        //i.fas.fa-desktop
        //i.fas.fa-hand-pointer
        button.control_icon#control
          i.fas.fa-cog
          | setting
      button.div#exit
        i.fas.fa-power-off

script(src="/socket.io/socket.io.js") 
script(src="/public/js/home_meeting.js")
